.DynamicFieldsArray {

  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid #dedede;
  }
  table {
    border-radius: 10px;;
  } 
  th {
    padding: 8px;
  }
  td {
    padding: 4px 8px;
  }
}
